html,
body,
.mdl-layout {
  height: 100%;
  background: transparent;
}

.mdl-layout__content {
  display: flex !important;
  flex-direction: column;
  min-height: 100%;
}

.mdl-demo main>.mdl-layout__tab-panel {
  padding: 0 !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 100vh;
}

.section--center.mdl-grid {
  display: flex !important;
  flex-direction: row !important;
  width: 100%;
  max-width: 860px;
}

.image-card {
  flex: 1;
}

.text-card {
  flex: 1;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.blinking-cursor {

  -webkit-animation: 1s blink ease infinite;
  -moz-animation: 1s blink ease infinite;
  -ms-animation: 1s blink ease infinite;
  -o-animation: 1s blink ease infinite;
  animation: 1s blink ease infinite;
}

@keyframes "blink" {

  from,
  to {
    color: transparent;
  }

  50% {
    color: white;
  }
}

@-moz-keyframes blink {

  from,
  to {
    color: transparent;
  }

  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {

  from,
  to {
    color: transparent;
  }

  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {

  from,
  to {
    color: transparent;
  }

  50% {
    color: white;
  }
}

@-o-keyframes "blink" {

  from,
  to {
    color: transparent;
  }

  50% {
    color: white;
  }
}